<h1>Editing countdown event</h1>

<%= render "form", countdown_event: @countdown_event %>

<br>

<div>
  <%= link_to "Show this countdown event", @countdown_event %> |
  <%= link_to "Back to countdown events", countdown_events_path %>
</div>
